body{
    background: radial-gradient(circle, #ff7e5f, #feb47b);
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    background-size : 1920px 1080px
}

.slider{
    position: relative;
    width: 100%;
    height: 740px; /* 기존 370px의 2배 */
    overflow: hidden;
}

.item{
    position: absolute;
    width: 420px; /* 기존 210px의 2배 */
    height: 640px; /* 기존 320px의 2배 */
    text-align: justify;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(50% - 210px); /* (width / 2) 만큼 조정 */
    top: 0;
}

#next, #prev{
    position: absolute;
    top: 45%; /* 버튼 위치 조정 */
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 90px; /* 버튼 크기 키움 */
    font-family: monospace;
    font-weight: bold;
    left: 200px; /* 버튼 위치 조정 */
}

#next{
    left: unset;
    right: 200px; /* 버튼 위치 조정 */
}


.item {
    position: absolute;
    width: 420px; /* 기존 200px에서 2배 이상 키움 */
    height: 640px; /* 기존 280px에서 2배 이상 키움 */
    border-radius: 15px;
    overflow: hidden;
    transition: 0.5s;
    left: calc(50% - 210px); /* (width / 2) 만큼 조정 */
    top: 0;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: inherit;
}